numpy
torch
torchvision
opencv-python
tqdm
scikit-learn
matplotlib
Pillow
pyclipper
shapely
onnxruntime
openvino
ocrmodel @ git+https://github.com/ai-forever/OCR-model.git
segmmodel @ git+https://github.com/ai-forever/SEGM-model.git
